.project-container{
    margin: 8rem auto 0 auto;
}


.project-container h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.project-cards-wrapper{
    margin: 0 auto;
    padding: 2rem 0 0 0;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;

}

.project-card{
    width: 18rem;
    border-radius: 1rem;
    background-color: #1d232e;
    color: var(--secondary-color-1);
    padding: 1.5rem 1.5rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* .project-card:hover{
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
} */

.project-image-container{
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
}


.project-image-container img{
    border-radius: 10px;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-image-container img:hover{
    transform: scale(1.5);
}

.project-title{
    color: #f6f8ff;
    font-size: 1.4rem;
    margin-bottom: 3px;
}

.project-type-container{
    display: flex;
    border-bottom: 2px solid #d7d7d7;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.project-type{
    font-size: 14px;
    color: #f6f8ff;
    margin-right: 10px;
}

.project-desc{
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-weight: 500;
}

.live-website img, .github-link img{
    width: 1.2rem;
    margin-right: 4px;
}