.hero-container{
    display: flex;
    align-items: center;
    margin: 5rem 0;
    justify-content: space-between;
}

.hero-item-1{
    width: 80%;
    text-align: left;
    flex: 2;
}

.hero-item-1 div.heading-color-1{
    margin-bottom: 5px;
}

.hero-item-1 p{
    font-size: 4rem;
    font-weight: 700;
    color: var(--secondary-color-1);
    word-spacing: -4px;
    line-height: 1;
}

.hero-item-1 h2{
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 600;
}

.hero-item-2{
    text-align: right;
    flex: 1;
}

.hero-item-2 img{
    width: 100%;
}

@media (min-width: 992px) and (max-width: 1135px) {
    .home-intro-items-container p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width:991px) {
    .home-intro-item-2 img {
        width: 10rem;
        object-fit: cover;
        height: 10rem;
        border-radius: 50%;
        margin: 0 auto;
    }

    .social-handles{
        width: 100%;
    }

    .home-intro-item-2{
        margin: 0;
    }

    .home-intro-items-container{
        flex-direction: column;
    }

    .home-intro-items-container p {
        width: 80%;
        margin: 2rem auto;
    }
}

@media (max-width: 859px){
    .home-intro-items-container p {
        width: 100%;
    }
}

@media (max-width:700px) and (min-width:630px){
    .home-intro-container{
        width: 100%;
    }
}