.hero-container{
    display: flex;
    align-items: center;
    margin-top: 8rem;
    justify-content: space-between;
}

.hero-item-1{
    width: 80%;
    text-align: left;
    flex: 2;
    padding-right: 2rem;
}

.hero-item-1 div.heading-color-1{
    margin-bottom: 5px;
    font-family: var(--font-family-mono);
    font-size: 1.1rem;
    font-weight: 500;
}

.hero-item-1 p{
    font-size: 4rem;
    font-weight: 800;
    color: var(--secondary-color-1);
    word-spacing: -4px;
    line-height: 1.2;
}

.hero-item-1 h2{
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 2px;
}

.hero-item-1 p{
    letter-spacing: 2px;
}

.hero-item-2{
    text-align: right;
    flex: 1;
}

.hero-item-2 img{
    width: 95%;
}

