.home-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0;
    justify-content: space-between;
}

.home-item-1{
    width: 60%;
    text-align: center;
}

.home-item-2 img{
    width: 100%;
}

.home-item-1 p{
    font-size: 1rem;
    font-weight: 700;
    color: #ff9f1c;
}

.home-item-1 h2{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
}

.home-intro-heading{
    font-size: 2rem;
    text-align: center;
}

.home-intro-container{
    padding: 2rem 1rem;
    width: 90%;
    margin: 5rem auto 0 auto;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 20%); */
    border-radius: 10px;
}

.home-intro-items-container{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 1rem auto 0 auto;
}

.home-intro-items-container p{
    font-size: 1.05rem;
}

/* .home-intro-item-1{
    width: 80%;
}

.home-intro-item-1 img{
    width: 100%;
} */

.home-item-2{
    padding: 0 1rem;
}

.social-handles{
    width: 60%;
    text-align: center;
    margin: 3rem auto;
}

.social-links img{
    margin: 1rem;
    width: 40px;
}

.bottom-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #fe6d73;
    text-align: center;
    margin: 3rem 0 2rem 0;
}