.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar-logo-container{
    display: flex;
}

.navbar-title-logo{
    font-weight: 700;
    font-size: 2rem;
}

/* .brand-logo{ */
    /* background-image: linear-gradient(
      to right,
      #0066ff,
      #0066ff,
      #0035f5,
      #0003ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
    /* color: var(--tertiary-color); */
/* } */

.navigation{
    display: flex;
    list-style: none;
}

.navbar-nav-items{
    padding: 0 1rem;
}

.navbar-nav-items a:hover{
    color: var(--primary-bright-1);
}

.cancel-logo, .hamburger{
    position: absolute;
    z-index: 1000;
    top: 2.2rem;
    right: 2.5rem;
    width: 2rem;
    cursor: pointer;
    display: none;
}

/* #hamburger{
    width: 2.5rem;
} */





.menu-logo img, .cancel-logo img{
    width: 30px;
}