footer{
    padding: 4rem 0;
    background: transparent;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    background: var(--app-background-color);
}

.footer-social-links{
    display: flex;
    align-items: center;
}

.footer-social-links img{
    margin: 0 1rem;
    width: 30px;
}