footer{
    padding: 4rem 0;
    background: transparent;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.footer-social-links{
    display: flex;
    align-items: center;
}

.footer-social-links img{
    margin: 0 1rem;
    width: 30px;
}