.home-intro-heading{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.home-intro-container{
    margin: 5rem auto 0 auto;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 20%); */
    border-radius: 10px;
}

.home-intro-items-container{
    display: flex;
    align-items: center;
}

.home-intro-items-container p{
    font-size: 1.05rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.1rem;
    color: var(--secondary-color-1);
}

.home-intro-item-1{
    flex: 2;
}

.home-intro-item-2{
    /* overflow: hidden; */
    margin-right: 2rem;
    flex: 1;
    text-align: end;
}

.home-intro-item-2 img{
    object-fit: cover;
    width: 70%;
    border: 1px solid var(--primary-bright-1);
    box-shadow: 8px 8px 0 0 var(--primary-bright-1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-intro-item-2 img:hover{
    box-shadow: -12px 12px 2px -1px var(--primary-bright-1);
}