.about-item-1{
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-item-1 p{
    margin-top: 1rem;
}
.about-item-2{
    display: flex;
    justify-content: center;
}

.about-tooling-container{
    padding: 5rem 0;
    animation: jackInTheBox 2s ease forwards;
}

.about-tooling-container h2{
    text-align: center;
}

.about-tooling{
    margin: 2rem auto;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    width: 80%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-tool-item{
    color: white;
    align-items: center;
    background: #021709;
    border-radius: 8px;
    display: flex;
    flex: 0 1 18%;
    height: 60px;
    justify-content: space-evenly;
    margin: 1%;
}
