.about-tool-item{
    color: white;
    align-items: center;
    background: #1c2632;
    border-radius: 8px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 1%;
    height: 8rem;
}

.box-icon{
    width: 25%;
    text-align: center;
    margin-right: 2rem;
}

.about-tool-item .box-icon img{
    width: 100%;
}

.box-icon img.mongo{
    width: 60%;
}

.box-text{
    font-size: 1.1rem;
}