
.about-tooling-container{
    margin-top: 8rem;
    animation: jackInTheBox 2s ease forwards;
}

.about-tooling-container h2{
    text-align: center;
    font-size: 3rem;
}

.about-tooling{
    margin: 3rem 0 0 0;
    align-items: center;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 1.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

